* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-page {
    width: 100%;
    background-image: url(./files/first/Rectangle%209.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 105vh;
}

.home-page::before {
    content: " ";
    width: 50%;
    outline: none;
    position: absolute;
    bottom: 75px;
    left: -136px;
    transform: rotate(-90deg);
    border-right: 0px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 50vw solid transparent;
    border-left: 280px solid #fff;
}

.home-page::after {
    content: " ";
    width: 50%;
    outline: none;
    position: absolute;
    bottom: 75px;
    right: -136px;
    transform: rotate(90deg);
    border-left: 0px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 50vw solid transparent;
    border-right: 280px solid #fff;
}

.header {
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px 0 10vw;
    z-index: 200;
    position: absolute;
    top: 0;
}

.nav .nav__ul {
    width: 437px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .nav__ul li {
    list-style: none;
}

@font-face {
    font-family: "Graphik-Regular";
    src: url("./files/Graphik-Regular.ttf");
}

.home-section__btn:hover {
    background-color: #1869b5;
    transition: .3s;
}

.nav .nav__ul .nav__item {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: calc(5px + 2vw);
}

.nav .nav__ul .nav__item .nav__item_last {
    margin-right: 1vw;
}

.nav__item a:hover {
    text-decoration: underline;
    transition: 0.5s;
}

.features2__btn:hover {
    background-color: #1869b5;
    transition: .3s;
}

.header__logo {
    position: relative;
    top: -7px;
}

.social-media {
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-section .home-section__btn {
    border: 2px solid transparent;
}

.social-media__url img:hover {
    position: relative;
    top: -10px;
}

.home-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
    z-index: 10;
}

.home-section__headline {
    font-family: 'ZCOOL XiaoWei', serif;
    font-weight: 900;
    font-size: 74px;
    line-height: 84px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.home-section__describe {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: calc(20px + .1vw);
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 10px 0;
}

.home-section__btn {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: calc(14px + .1vw);
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 16px 62px;
    background: #2091F9;
    border-radius: 35px;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.features__h2 {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: calc(40px + .1vw);
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
    padding-bottom: 20px;
}

.features__description {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: calc(20px + .1vw);
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #374754;
    padding-bottom: 50px;
}

.features-blocks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 869px;
}

.features-blocks-item {
    min-height: 257px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.features-blocks-item__name {
    font-family: 'ZCOOL XiaoWei', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
    padding: 0 20px;
}

.features-blocks-item__description {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 18px;
    line-height: calc(18px + 1vw);
    text-align: center;
    letter-spacing: 0.2px;
    color: #374754;
    padding: 0 10px;
}

.video {
    height: 658px;
    width: 1100px;
    background-image: url(./files/second/screen.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

.play {
    cursor: pointer;
}

.play:active {
    position: relative;
    bottom: -15px;
}

.features2 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 200px;
}

.features2-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.features2-container-img {
    width: 50%;
}

.features2-container-text {
    min-height: 357px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0 50px;
}

.features2-container-text__h2 {
    font-family: 'ZCOOL XiaoWei', serif;
    font-weight: 100;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.features2-container-text__p {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: calc(23px + .1vw);
    line-height: 40px;
    letter-spacing: 0.2px;
    color: #374754;
}

.features2_reversed {
    flex-direction: row-reverse;
}

.features2-container-text__h3 {
    font-family: 'ZCOOL XiaoWei', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.features2-btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features2__btn {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: calc(14px + .1vw);
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none;
    background: #2091F9;
    border-radius: 35px;
    padding: 19px 38px;
}

.features2__input {
    background: #F4F4F4;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 12px;
    padding: 19px 39px;
    border-radius: 50px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #18171D;
    outline: none;
}

.features2_reversed .features2-container-text {
    width: 40%;
}

.features2_reversed .features2-container-img {
    width: 60%;
}

.partners {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.partners-blocks {
    display: flex;
    margin-top: 50px;
}

.partners-blocks:nth-child(2n) {
    margin-top: 0;
}

.partner {
    border: 1px solid #D8D8D8;
    padding: 31px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.partner p {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1px;
    color: #374754;
}

.partners-h2 {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
}

.partners-describe {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: calc(20px + .1vw);
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #374754;
}

.partners .home-section__btn {
    margin-top: 80px;
}

.testimonials {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;
}

.in-testimonials {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.testimonials__h2 {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: calc(40px + .1vw);
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
}

.testimonials__par {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: calc(20px + .3vw);
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #374754;
}

.tag {
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: calc(10px + .4vw);
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.price {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
    background: #252B42;
}

.price__heading {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: calc(40px + .1vw);
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    padding: 10px;
}

.price__description {
    margin-bottom: 80px;
    padding: 10px;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: calc(20px + .1vw);
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.priceing_container {
    min-height: 120vh;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.priceing {
    background-color: #FFFFFF;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    border: 1px solid #DEDEDE;
    width: 30%;
    height: 607px;
    transition: 0.5s;
}

.priceing__cost {
    width: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.priceing__features li {
    list-style: none;
}

.priceing__features {
    height: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.priceing__plan {
    padding: 3px 0px;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 20px;
    font-weight: 100;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #252B42;
    text-transform: uppercase;
}

.priceing__description {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: calc(11px + .2vw);
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #374754;
}

.priceing__number {
    padding: 10px 0px;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 64px;
    line-height: 84px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.priceing__valute {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: calc(13px + .3vw);
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.home-section__btn {
    border: 1px solid #fff;
}

.price .home-section__btn {
    transition: .2s;
}

.price .home-section__btn:hover {
    background: #fff;
    color: #2091F9;
    transition: .2s;
}

.priceing__duration {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1px;
    color: #374754;
}

.priceing__features li {
    padding: 10px;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.priceing_active {
    margin: 0 50px;
}

.priceing:hover {
    height: 630px;
    background: #2091F9;
    transition: 0.5s;
    color: #fff;
    cursor: pointer
}

.priceing:hover .priceing__plan,
.priceing:hover .priceing__description,
.priceing:hover .priceing__number,
.priceing:hover .priceing__valute,
.priceing:hover .priceing__duration,
.priceing:hover .priceing__features li {
    color: #ffffff;
}

.priceing:hover .home-section__btn {
    background-color: #ffffff;
    color: #2091F9;
}

.contact {
    padding: 100px 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact__heading {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: calc(40px + .3vw);
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
}

.contact__description {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: calc(17px + .3vw);
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #374754;
}

.contact__container {
    display: flex;
    align-items: center;
}

.contact__left {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    width: 40%;
    height: 669px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px;
}

.contact__right {
    height: 669px;
    padding: 28px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
}

.contact__form {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: calc(14px + .4vw);
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #252B42;
    display: flex;
    flex-direction: column;
}

.contact__input {
    margin-top: 50px;
    padding: 19px 20px;
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 50px;
    outline: none;
}

.contact__input_large {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 23px 20px;
    height: 193px;
    border-radius: 50px;
    border-radius: 0px;
}

.contact__left .home-section__btn {
    margin-top: 40px;
}

.places {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.place {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.footer__link:hover {
    position: relative;
    top: -5px;
}

.place__text {
    padding: 10px;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: calc(10px + .3vw);
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #374754;
}

.contact__map {
    margin: 50px 0;
    cursor: zoom-in;
}

.social-medias {
    padding: 10px;
    min-width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social__item:hover {
    position: relative;
    top: -5px;
    transition: 1s;
}

.social-medias a:nth-child(2n) {
    margin: 0 24px;
    transition: 1s;
}

.contact__container {
    margin: 50px 0 100px 0;
}

.footer {
    min-height: 100vh;
    padding: 150px 0;
    background: #252B42;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.authors {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-around;
}

.authors ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.footer__conatiner {
    min-width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.author__list li {
    list-style: none;
}

.author__link {
    text-decoration: none;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-top: 20px;
}

.author-list-heading {
    padding: 10px 0;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.authors__item {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.author__list {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer__contacts {
    align-self: flex-start;
}

.contact-item {
    width: 150px;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.footer__social-medias {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px 0;
}

.contact-item__description {
    font-family: Roboto;
    font-size: calc(10px + .1vw);
    line-height: 27px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.menu-btn {
    display: none;
    cursor: pointer;
}

.partner {
    filter: grayscale(100%);
    transition: 0.2s;
    cursor: pointer;
}

.partner:hover {
    filter: grayscale(0%);
    transition: 0.5s;
}

.footer__link:nth-child(1) {
    position: relative;
    bottom: -6px;
}

@media screen and (max-width:1000px) {
    .header {
        padding: 0 20px 0 5vw;
    }
    .features2 {
        padding: 0 50px;
    }
    .header__logo {
        left: -30px;
    }
    .partner {
        padding: 11px 10px;
    }
    .partner img {
        width: 150px
    }
    .video {
        width: 90%;
    }
    .priceing {
        padding: 10px;
    }
}

@media screen and (max-width:800px) {
    .menu-btn {
        display: block;
        cursor: pointer;
    }
    .nav__item {
        display: none;
    }
    .social-media {
        display: none;
    }
    .nav {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
    .header__logo {
        position: absolute;
        top: 30px;
        left: 5px;
    }
    .home-section__headline {
        font-size: calc(40px + .2vw);
        line-height: 55px;
    }
    .home-section__describe {
        font-size: 20px;
        line-height: 40px;
    }
    .features-blocks {
        flex-direction: column;
        padding: 0 100px;
    }
    .video {
        margin: 50px 0;
        height: 215px;
        background-image: url(./files/second/screen1.png);
        background-position: center;
    }
    .play {
        height: 60px;
        width: 60px;
    }
    .features2 {
        padding: 0 10px;
    }
    .features__h2 {
        font-size: 48px;
        line-height: 55px;
    }
    .features__description {
        font-size: 20px;
        line-height: 40px;
    }
    .features2-container {
        flex-direction: column;
        padding: 0;
    }
    .features2:nth-child(2n) {
        flex-direction: column;
    }
    .features2-container-text {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .features2-btns {
        flex-direction: column;
        padding: 0;
    }
    .features2-container-img {
        width: 90%;
        padding: 0;
    }
    .features2__btn {
        margin: 30px 0;
        align-self: center;
    }
    .partners-blocks {
        flex-direction: column;
    }
    .partner {
        padding: 31px 40px;
        margin: 15px;
    }
    .display__none {
        display: none;
    }
    .priceing_container {
        flex-direction: column;
    }
    .priceing,
    .priceing_active {
        width: 100%;
        height: 607px;
        padding: 40px;
        height: 607px;
        margin: 25px;
    }
    .priceing .home-section__btn {
        padding: 16px 40px;
    }
    .contact__container {
        position: relative;
        top: -200px;
        flex-direction: column-reverse;
    }
    .contact {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contact__map {
        display: none;
    }
    .places {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }
    .place {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: 10px 0;
    }
    .place__icon {
        margin: 10px;
    }
    .contact__right {
        width: 100%;
        flex-direction: column-reverse;
        justify-content: flex-start;
    }
    .social-medias {
        width: 90%;
        margin: 50px 0;
    }
    .contact__left {
        width: 90%;
        align-items: center;
        padding: 20px;
    }
    .contact__form {
        width: 80%;
    }
    .authors {
        flex-direction: column;
        width: 90%;
    }
    .footer {
        padding: 100px 0;
    }
    .footer__conatiner {
        flex-direction: column;
        text-align: center;
    }
    .authors__item {
        margin: 70px;
        align-items: center;
    }
    .authors ul {
        align-items: center;
        justify-content: space-around;
    }
    .author-list-heading {
        font-size: calc(18px + 1vw);
    }
    .author__list li {
        min-width: 200px;
    }
    .footer__social-medias {
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }
    .contact-item__description {
        margin-left: 10px;
    }
    .footer__contacts {
        width: 100%;
    }
    .features2-container-text__h2 {
        font-size: 40px;
        line-height: 55px;
    }
    .features2-container-text__h3 {
        font-size: 20px;
        line-height: 28px;
    }
    .features2-container-text__p {
        font-size: 16px;
        line-height: 40px;
        width: 100%;
        padding: 0;
        margin: 30px 0;
    }
    .partner {
        filter: grayscale(0%);
        transition: 0.2s;
    }
    .priceing:hover {
        height: 600px;
        background: #2091F9;
        transition: 0.5s;
        color: #fff;
    }
}